{% block Head %}

  {% block Style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  {% endblock %}

  {% block Script %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  {% endblock Script %}

{% endblock Head %}

{% block Body %}
  <body>
    <div class="container" id="table">
    	<div  class="profil1"></div>
    	<div class="profil2"></div>
    	<div class="profil3"></div>
    	<div class="profil4"></div>
    	<div class="profil5"></div>
    	<div class="profil6""></div>
    	<div class="profil7"></div>
    	<div class="profil8"></div>
    	<div class="card11"></div>
    	<div class="card12"></div>
    	<div class="card21"></div>
    	<div class="card22"></div>
    	<div class="card31"></div>
    	<div class="card32"></div>
    	<div class="card41"></div>
    	<div class="card42"></div>
    	<div class="card51"></div>
    	<div class="card52"></div>
    	<div class="card61"></div>
    	<div class="card62"></div>
    	<div class="card71"></div>
    	<div class="card72"></div>
    	<div class="card81"></div>
    	<div class="card82"></div>
    </div>
  </body>
{% endblock Body %}